:host {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.title-container {
  width: 100%;
  animation: fadeInAndAppear 2s ease-in-out;
  pointer-events: all;
  &__title {
    padding-top: 1em;
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    color: white;
    font-size: 8vw;
    background: linear-gradient(140deg, black 0%, black 15%, color-mix(in srgb, black, gold 50%) 25%, color-mix(in srgb, black, gold 10%) 35%, color-mix(in srgb, black, gold 50%) 42%, color-mix(in srgb, black, gold 50%) 44%, color-mix(in srgb, black, white 70%) 47%, gold 48%, black 60%);
    background-clip: text;
    color: transparent;
    backdrop-filter: blur(10px);
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: 1.8s background-position ease-out;
    animation: backgroundPositionMove 3s ease-in-out;
    display: flex;
    justify-content: flex-start;
    & span {
      width: 20%;
      text-align: center;
      transition: width 0.5s ease-in-out;
    }
    &:hover {
      background-position: 0% 0%;
    }
  }
}


@keyframes fadeInAndAppear {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes backgroundPositionMove {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}